# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Text Lint CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # setup
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      with:
        node-version-file: .node-version
    - uses: pnpm/action-setup@v4
      with:
        cache: true

    - name: Cache text lint
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
      env:
        cache-name: text-lint-cache
      with:
        path: ./.textlintcache
        key: ${{ runner.os }}-text-lint-cache-${{ hashFiles('.textlintrc.js') }}
        restore-keys: |
          ${{ runner.os }}-text-lint-cache-

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Run text lint
      run: pnpm test
