# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Text Lint CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version: ${{ matrix.node-version }}

    #  https://github.com/actions/cache/blob/main/examples.md#node---yarn:
    - name: Get yarn cache directory
      id: yarn-cache-dir
      run: echo "::set-output name=dir::$(yarn cache dir)"

    # https://github.com/actions/cache/blob/main/examples.md#node---lerna
    - name: Cache node_modules
      uses: actions/cache@v2
      env:
        cache-name: node-modules-cache
      with:
        path: |
          node_modules
          */*/node_modules
          ${{ steps.yarn-cache-dir.outputs.dir }}
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Cache text lint
      uses: actions/cache@v2
      env:
        cache-name: text-lint-cache
      with:
        path: ./.textlintcache
        key: ${{ runner.os }}-text-lint-cache-${{ hashFiles('.textlintrc.js') }}
        restore-keys: |
          ${{ runner.os }}-text-lint-cache-

    - run: yarn
    - run: yarn test
